<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>Chat 1 via a</li>
        <li>Chat 2 via a</li>
        <li>Chat 3 via a</li>
    </ul>
    <form action="">
        <input type="text">
        <input type="submit">
    </form>
    <script>
        const socket = new WebSocket('ws://' + window.location.host + '/ws/alpaca/');

        socket.onopen = function(e) {
            console.log('Connected',e);
        };
        socket.onmessage = function(e) {
            console.log('Message',e);
        };
        socket.onclose = function(e) {
            console.log('Closed',e);
        };
        socket.onerror = function(e) {
            console.log('Error',e);
        };

    </script>
</body>
</html>